<div class="col-xs-12">

  <div class="row">
    <div class="col">
      <div class="jumbotron text-light bg-secondary text-center"> 
        <h1>New York Times Scraper</h1>
      </div>
      <button class="btn btn-outline-primary scrape-btn mb-4">Get New Articles</button>
    </div>
  </div>

  <div class="row">
    <div class="col">

      {{#each articles}}
        <div class="card border-info mb-4 bg-dark text-light">
          {{#each this}}
            {{#if timeAdded}}
              <div class="card-header bg-info">
                <div class="card-title">
                  <a class="text-dark " href="{{link}}">{{title}}</a>
                </div>
              </div>
            {{/if}}
              
            {{#if timeAdded}}
              <div class="card-body">
                <div class="card-text">
                  <p>{{summary}}</p>
                </div>
              </div>
            {{/if}}

            {{#if timeAdded}}
              <div class="card-footer">
                <div class="row">
                  <div class="col">
                    <div class="form-group bg-dark text-light mt-2">
                      <input data-_id="{{_id}}"type="text" class="bg-dark text-light border-info comment-input form-control">
                      <button type="submit" class="btn btn-info comment-btn mt-3" data-_id="{{_id}}">Add Comment</button>
                    </div>
                  </div>
                </div>
              </div>
            {{/if}}

          {{/each}}
        </div>

        {{/each}}
    </div>
  </div>
</div>

<script src="/js/index.js"></script>